<div class="form-group row text-xl-end">
	<label n:name="$input" class="form-label col-form-label col-form-label-sm col-xl-3">{$label}</label>
	<div class="col-xl-9">
		<div n:tag-if="$isFiltered" class="input-group input-group-sm">
			<input n:name="$input" type="text" class="form-control form-control-sm">
			<a n:if="$isFiltered" href="{$clearLink}" class="btn btn-outline-danger ajax"><i class="fas fa-times fa-fw"></i></a>
		</div>
	</div>
</div>