<nav class="btn-group btn-group-sm" n:inner-foreach="$steps as $step" n:ifcontent>
	<a n:href="page! $page - 1" n:class="btn, btn-outline-secondary, $pages->isFirst() ? disabled" n:if="$iterator->isFirst()">Předchozí</a>
	<a n:href="page! $step ?? 1" n:class="btn, $step == $page ? btn-primary : btn-outline-secondary, !$step ? disabled">{$step ?? '...'}</a>
	<a n:href="page! $page + 1" n:class="btn, btn-outline-secondary, $pages->isLast() ? disabled" n:if="$iterator->isLast()">Další</a>
</nav>