<form n:name="filterForm" autocomplete="off">

	<div class="card-header bg-body-tertiary" n:if="$filtersVisible">

		<div class="row g-3 row-cols-auto">
			<div class="col flex-grow-1 flex-lg-grow-0" n:foreach="$filtersVisible as $name => $filter">

				<div n:class="form-group, $filter->getType()" n:snippet="filter-{$name}">
					<div class="d-flex gap-2" n:snippet="filter-{$name}-clear">
						<label n:name="$filter->firstInput($form)" class="form-label text-body">{$filter->getLabel()|translate}</label>
						<a n:href="clearByFilter! $name" class="text-danger text-nowrap ajax ms-auto" n:if="$filter->isFiltered()">
							<i class="fa-solid fa-filter-circle-xmark fa-fw"></i> {_datatable.filter.clear-short}
						</a>
					</div>
					{include block 'filter-'.$filter->getType(), name: $filter->fieldName() |indent:5}
				</div>

			</div>
		</div>

		<button n:name="__submit" type="submit" class="btn btn-sm btn-info ajax mt-3" n:if="!$autoSubmit">
			<i class="fas fa-filter fa-fw"></i> {_datatable.filter.button|noescape}
		</button>

	</div>

	{foreach $filters as $name => $filter}
		{continueIf $filter->getType() !== 'hidden'}
		{include block 'filter-'.$filter->getType(), name: $filter->fieldName() |indent:2}
	{/foreach}

	<input type="hidden" n:name="_do">

</form>


{define #filter-date, $name}
<div class="input-group input-group-sm" style="min-width: 150px">
	<input n:name="$name" type="date" class="form-control form-control-sm" data-dt-autosubmit="change">
</div>
{/define}

{define #filter-date-range, $name}
<div class="input-group input-group-sm" style="min-width: 325px" n:formContainer="$name">
	<input n:name="from" type="date" class="form-control form-control-sm" data-dt-autosubmit="change">
	<span class="input-group-text">&ndash;</span>
	<input n:name="to" type="date" class="form-control form-control-sm" data-dt-autosubmit="change">
</div>
{/define}

{define #filter-date-time-range, $name}
<div class="input-group input-group-sm" style="min-width: 325px" n:formContainer="$name">
	<input n:name="from" type="datetime-local" class="form-control form-control-sm" data-dt-autosubmit="change">
	<span class="input-group-text">&ndash;</span>
	<input n:name="to" type="datetime-local" class="form-control form-control-sm" data-dt-autosubmit="change">
</div>
{/define}

{define #filter-enum, $name}
<div class="input-group input-group-sm" style="min-width: 250px">
	<select n:name="$name" class="form-select form-select-sm" data-dt-autosubmit="change"></select>
</div>
{/define}

{define #filter-enum-list, $name}
<div class="input-group input-group-sm" style="min-width: 250px">
	<select n:name="$name" class="form-select form-select-sm" multiple data-dt-autosubmit="change"></select>
</div>
{/define}

{define #filter-hidden, $name}
<input n:name="$name" type="hidden">
{/define}

{define #filter-number-range, $name}
<div class="input-group input-group-sm" style="min-width: 325px" n:formContainer="$name">
	<input n:name="from" type="text" class="form-control form-control-sm" data-dt-autosubmit="keyup">
	<span class="input-group-text">&ndash;</span>
	<input n:name="to" type="text" class="form-control form-control-sm" data-dt-autosubmit="keyup">
</div>
{/define}

{define #filter-select, $name}
<div class="input-group input-group-sm" style="min-width: 250px">
	<select n:name="$name" class="form-select form-select-sm" data-dt-autosubmit="change"></select>
</div>
{/define}

{define #filter-select-list, $name}
<div class="input-group input-group-sm" style="min-width: 250px">
	<select n:name="$name" class="form-select form-select-sm" multiple data-dt-autosubmit="change"></select>
</div>
{/define}

{define #filter-text, $name}
<div class="input-group input-group-sm" style="min-width: 250px">
	<input n:name="$name" type="text" class="form-control form-control-sm" data-dt-autosubmit="keyup">
</div>
{/define}