
#
# @copyright Martin Procházka (c) 2025
# @license   MIT License
#

table:
	empty: 'Nenalezeny žádné záznamy.'

column:
	show-default: 'Ukaž základní sloupce'
	show-all: 'Ukaž všechny sloupce'
	action: 'Akce'

page:
	prev: 'Předchozí'
	next: 'Další'

limit:
	rows: 'Záznamy: %from% - %to% z %count%'
	label: 'Limit'
	all: 'Vše'

filter:
	select-placeholder: 'Vše…'
	button: 'Filtrovat'
	pin: 'Připnutí filtrů k hlavičce'
	cancel: 'Zrušit filtraci'
	cancel-short: 'zrušit'
