
#
# @copyright Martin Procházka (c) 2026
# @license   MIT License
#

table:
	empty: 'No entries found.'

column:
	show-default: 'Show default columns'
	show-all: 'Show all columns'
	action: 'Action'

page:
	prev: 'Previous'
	next: 'Next'

limit:
	rows: 'Entries: %from% - %to% out of %count%'
	label: 'Limit'
	none: 'None'

sort:
	clear: 'Clear sort'
	clear-custom: 'Clear custom sort'

filter:
	select-placeholder: 'All…'
	button: 'Filter'
	pin: 'Pin filters to header'
	clear: 'Clear filter'
	clear-custom: 'Clear custom filter'
	clear-short: 'clear'
